.left-right{
    border-left: 1px solid black;
    border-right: 1px solid black;
   
}

.top-bottom{
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

td{
    height:100px;
    width:100px;
     margin:0 0 0 0;
}

table{
    margin: 100px auto;
}
h1{
    text-align: center;
}